
<!--Section: Pricing v.6-->
<section class="section pb-3">

    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">Our pricing plans</h1>
    <!--Section description-->
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">
            <!--Pricing card-->
            <div class="card pricing-card white-text" >
                <!--Price-->
                <div class="header green-gradient">
                        <h4>BASIC</h4>
                </div>
                <!--Price-->

                <!--Features-->
                <div class="card-body striped green-striped card-background heading px-5">
                <h1 class="my-4">20$</h1>
                    <ul>
                        <li>
                            <p class="mt-1"><strong>1</strong> project</p>
                        </li>
                        <li>
                            <p><strong>100</strong> components</p>
                        </li>
                        <li>
                            <p><strong>150</strong> features</p>
                        </li>
                        <li>
                            <p><strong>200</strong> members</p>
                        </li>
                    </ul>

                    <button class="mb-3 mt-3 btn aqua-gradient btn-rounded waves-light" mdbRippleRadius>Buy now</button>
                </div>
                <!--Features-->

            </div>
            <!--Pricing card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">
            <!--Pricing card-->
            <div class="card pricing-card white-text" >
                <!--Price-->
                <div class="header orange-gradient">
                        <h4>PRO</h4>
                </div>
                <!--Price-->

                <!--Features-->
                <div class="card-body striped orange-striped card-background heading px-5">
                <h1 class="my-4">80$</h1>
                    <ul>
                        <li>
                            <p class="mt-1"><strong>1</strong> project</p>
                        </li>
                        <li>
                            <p><strong>100</strong> components</p>
                        </li>
                        <li>
                            <p><strong>150</strong> features</p>
                        </li>
                        <li>
                            <p><strong>200</strong> members</p>
                        </li>
                    </ul>

                    <button class="mb-3 mt-3 btn peach-gradient btn-rounded waves-light" mdbRippleRadius>Buy now</button>
                </div>
                <!--Features-->

            </div>
            <!--Pricing card-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-r">
            <!--Pricing card-->
            <div class="card pricing-card white-text" >
                <!--Price-->
                <div class="header purple-gradient">
                        <h4>ENTERPRISE</h4>
                </div>
                <!--Price-->

                <!--Features-->
                <div class="card-body striped purple-striped card-background heading px-5">
                <h1 class="my-4">100$</h1>
                    <ul>
                        <li>
                            <p class="mt-1"><strong>1</strong> project</p>
                        </li>
                        <li>
                            <p><strong>100</strong> components</p>
                        </li>
                        <li>
                            <p><strong>150</strong> features</p>
                        </li>
                        <li>
                            <p><strong>200</strong> members</p>
                        </li>
                    </ul>

                    <button class="mb-3 mt-3 btn purple-gradient btn-rounded waves-light" mdbRippleRadius>Buy now</button>
                </div>
                <!--Features-->
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>

</section>
<!--Section: Pricing v.1-->
        
<!--Section: Products v.5-->
<section class="section pb-3">
    <!--Section heading-->
    <h1 class="section-heading h1 pt-4">Our bestsellers</h1>
    <!--Section description-->
    <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur accusamus veniam.</p>
    <!--Carousel Wrapper-->
    <mdb-carousel class="carousel-multi-item multi-animation" [animation]="'slide'" [type]="'carousel-multi-item'">
        <!--First slide-->
        <mdb-slide>
            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(39).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Shoes</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Leather boots</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">69$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(22).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Jeans</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Slim jeans</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">99$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Others/img%20(31).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Shorts</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Denim shorts</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                            quia non numquam.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">49$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(30).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Accessories</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Summer hat</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">39$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(37).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Shoes</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Black high heels</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                            quia non numquam.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">79$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(31).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Outerwear</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Black jacket</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">149$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
        </mdb-slide>
        <!--Third slide-->
        <mdb-slide>
            <div class="col-md-4">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(38).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Accessories</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Leather bag</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
                            quia non numquam.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">29$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>

            <div class="col-md-4 clearfix d-none d-md-block">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/belt.jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Accessories</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Leather belt</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">89$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
            
            <div class="col-md-4 clearfix d-none d-md-block">

                <!--Card-->
                <div class="card card-cascade narrower">

                    <!--Card image-->
                    <div class="view overlay hm-white-slight">
                        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/img%20(57).jpg" class="img-fluid" alt="">
                        <a>
                            <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                        </a>
                    </div>
                    <!--/.Card image-->

                    <!--Card content-->
                    <div class="card-body text-center">
                        <!--Category & Title-->
                        <a href="" class="text-muted">
                            <h5>Shoes</h5>
                        </a>
                        <h4 class="card-title"><strong><a href="">Sneakers</a></strong></h4>

                        <!--Description-->
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing minima veniam elit. Nam incidunt eius est voluptatibus.
                        </p>

                        <!--Card footer-->
                        <div class="card-footer">
                            <span class="left">129$</span>
                            <span class="right">
                                <a class="" placement="top" mdbTooltip="Quick Look" container="body"><i class="fa fa-eye"></i></a>
                                <a class="" placement="top" mdbTooltip="Add to Wishlist" container="body"><i class="fa fa-heart"></i></a>
                            </span>
                        </div>

                    </div>
                    <!--/.Card content-->

                </div>
                <!--/.Card-->

            </div>
        </mdb-slide>
        <!--/Third slide-->
    </mdb-carousel>
    <!--/.Carousel Wrapper-->
</section>
<!--Section: Products v.5-->